__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
.DS_Store

/backend/venv/
env/
ENV/

backend/__pycache__/
/backend/weights/*.pth
/backend/outputs/
uploads/

node_modules/

.vscode/

.env
.env.local
.env.*.local

/backend/data
/backend/test.py

node_modules/
backend/node_modules/
frontend/node_modules/